<div class="trans-toolbar">
    <a mat-button routerLink="/">Booking.цом</a>
    <span style="flex: 1 1 auto"></span>
    <ng-template [ngIf]="auth.current" [ngIfElse]="anon">
        <button mat-button routerLink="profile" [ngClass.xs]="{'icon-button':true}">
            <mat-icon>account_circle</mat-icon>
            <span fxHide fxShow.gt-xs>{{auth.current.email}}</span>
        </button>
        <button mat-button [matMenuTriggerFor]="notifMenu" class="icon-button"
        matBadge="2" matBadgeColor="accent"
        matBadgeOverlap="true">
            <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #notifMenu="matMenu">
            <button mat-menu-item>Shiba Aparatments messaged you 2 minutes ago...</button>
            <button mat-menu-item>Shiba Aparatments messaged you 1hr ago...</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="settingsMenu" class="icon-button">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu">
            <button (click)="onLogout()" mat-menu-item>Log Out</button>
        </mat-menu>
    </ng-template>
    <ng-template #anon>
        <a mat-button (click)="onLogin()">Login</a>
        <a mat-button routerLink="register">Register</a>
    </ng-template>
</div>