<div class="accomodation-container">
  <mat-card class="accomodation-card">
    <mat-card-header>
      <mat-card-title>{{accommodation.place}} </mat-card-title>
      <mat-card-title>{{accommodation.accommodationType.typeName}}</mat-card-title>
      <mat-card-title>Category: {{accommodation.category.categoryName}}</mat-card-title>
      <mat-card-title>Cost: {{accommodation.price}}$ </mat-card-title>
      <mat-card-title *ngIf="accommodation.rating">Rating: {{(accommodation.rating+"").substring(0,4)}}</mat-card-title>
      <mat-card-title *ngIf="!accommodation.rating">Not yet rated</mat-card-title>      
      <mat-card-title>Posted by: {{accommodation.agent.name}}</mat-card-title>
    </mat-card-header>
    <mat-chip-list>
      <mat-chip *ngFor="let service of accommodation.additionalServices">{{service.name}}</mat-chip>
    </mat-chip-list>
    <br/>
    <app-image-carousel [title]="'Shiba Apartments'" [srcs]="accommodation.images"></app-image-carousel>
    <mat-card-content>
      <p>
        {{accommodation.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="book.emit(accommodation)"color="primary">BOOK</button>
      <button mat-button (click)="showReviews()">REVIEWS</button>
    </mat-card-actions>
  </mat-card>
</div>