.search-input {
    font-size: 14px;
    padding-left: 1em;
    padding-right: 1em;
}

.accomodation-list {
    flex: 1 1 auto;
}

.accomodation-container {
    margin: 1em;
}

.accomodation-card {
    margin: auto;
    max-width: 600px;
}

.inls {
    padding: 0;
    list-style: none;
}

.inls li {
    display: inline;
}