<div class="main-container">
    <mat-toolbar class="trans-toolbar">
        <a mat-button routerLink="/">Booking.цом</a>
        <div style="padding: 10px;"></div>
        <mat-checkbox [checked]="mockLogin" (change)="mockLogin = !mockLogin">Logged in</mat-checkbox>
        <span style="flex: 1 1 auto"></span>
        <ng-template [ngIf]="mockLogin" [ngIfElse]="anon">
            <button mat-button>
                <mat-icon>person</mat-icon>
                Dejan Tot
            </button>
            <button mat-button [matMenuTriggerFor]="notifMenu" class="icon-button"
                matBadge="2" matBadgeColor="warn">
                <mat-icon>notifications</mat-icon>
            </button>
            <mat-menu #notifMenu="matMenu">                
                <button mat-menu-item>Shiba Aparatments messaged you 2 minutes ago...</button>
                <button mat-menu-item>Shiba Aparatments messaged you 1hr ago...</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="settingsMenu" class="icon-button">
                    <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #settingsMenu="matMenu">
                    <button mat-menu-item>Log Out</button>
                </mat-menu>
        </ng-template>
        <ng-template #anon>
            <a mat-button routerLink="login">Login</a>
            <a mat-button routerLink="register">Register</a>
        </ng-template>
    </mat-toolbar>
    <div class="content-wrapper">
        <div class="content" [style]="bgStyle">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>