.profile-header-content {
    background: #f5f5f5;    
}

.profile-header-content * {
    color: #555;
    margin: 2px;    
}

.no-select {
    user-select: none;
}

.inls {
    padding: 0;
    list-style: none;
}

.inls li {
    display: inline;
}