<div style="text-align:center">
  <div class="center-form">
    <h1 style="color: #555">Register</h1>
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="model.firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="model.lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="model.email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" [(ngModel)]="model.password">
    </mat-form-field>
    <p *ngIf="errmsg" style="color: red">{{errmsg}}</p>
    <div>
      <button mat-button (click)="onRegister()">Register</button>
    </div>    
    <div *ngIf="loading" style="margin: 10px">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>